:root   {
    --color-font-p: #283136; 
    --color-background-header: #EEEEEE;
    --color-background-main: white;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/roboto.woff') format('woff'),
    url('../fonts/roboto.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/robotobold.woff') format('woff'),
    url('../fonts/robotobold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/robotomedium.woff') format('woff'),
    url('../fonts/robotomedium.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
} 
body    {
    font-family: 'Roboto';
    background-color: var(--color-background-main);
}
.site-navigation a  {
    color: #000000;   
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.site-navigation {
    list-style: none;
}
.site-navigation a:hover  {
    color: #FB565A;
}
.site-navigation a:active   {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:focus    {
    color: #000000 ;
}
.button {
    color: #ffffff;
}
.advantages p,
.products    p,
.about_us    p,
.adress     p,
.social     p    {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-font-p);
}
.site-navigation a  {
    text-decoration: none;
}
.button {
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 5px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FB565A;
    margin: 30px;
}
.more_button    {
    margin-top: 50px;
}
.buy_button_1:active,
.buy_button_2:active,
.buy_button_3:active, 
.more_button:active,
.write_us:active {
    color: rgba(255, 255, 255, 0.3);
}
.write_us:active,
.more_button:active {
    background-color: #D7373B;
}
.write_us:hover,
.more_button:hover,
.buy_button_1:hover   {
    background-color: #E74246;
}

.buy_button_2 {
    background-color: #00CA74;
}
.buy_button_2:hover     {
    background-color: #00BC6C;
}
.buy_button_2:active    {
    background-color: #00AA62;
}
.buy_button_3 {
    background-color: #EFC84A;
}
.buy_button_3:hover     {
    background-color: #EAB534;
}
.buy_button_3:active    {
    background-color: #E5A722;
}
.products h3,
.skills h3  {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
a.button    {
    text-transform: uppercase;
}
header,
.advantages  {
    background: var(--color-background-header);
}
.partners img   {
    opacity: 30%;
    vertical-align: middle;
}
.partners img:hover{
    opacity: 100%;
    
}
.partners img:active   {
    opacity: 30%;
}
.social a:nth-child(1){
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(225,225,225,1); 
    border-radius: 50%;
    background-image: url(../img/vk-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(1):hover{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(231,66,70,1); 
    border-radius: 50%;
    background-image: url(../img/vk-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(1):active{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(215,55,59,1); 
    border-radius: 50%;
    background-image: url(../img/vk-icon.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(2){
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(225,225,225,1); 
    border-radius: 50%;
    background-image: url(../img/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(2):hover{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(231,66,70,1); 
    border-radius: 50%;
    background-image: url(../img/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(2):active{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(215,55,59,1); 
    border-radius: 50%;
    background-image: url(../img/fb-icon.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(3){
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(225,225,225,1); 
    border-radius: 50%;
    background-image: url(../img/insta-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(3):hover{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(231,66,70,1); 
    border-radius: 50%;
    background-image: url(../img/insta-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social a:nth-child(3):active{
    display: inline-block;
    margin: 20px;
    width: 81px;
    height: 81px;
    background-color: rgba(215,55,59,1); 
    border-radius: 50%;
    background-image: url(../img/insta-icon.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
}
.social b   {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}