:root   {
    --color-font-p: #283136; 
    --color-background-header: #EEEEEE;
    --color-background-main: white;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/roboto.woff') format('woff'),
    url('../fonts/roboto.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/robotobold.woff') format('woff'),
    url('../fonts/robotobold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face  {
    font-family: "Roboto";
    src: url('../fonts/robotomedium.woff') format('woff'),
    url('../fonts/robotomedium.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
} 
.wrapper    {
    font-family: 'Roboto';
    background-color: var(--color-background-main);
}
.advantages p,
.products    p,
.about_us    p,
.adress     p,
.social     p    {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-font-p);
}
.site-navigation a  {
    text-decoration: none;
}
.button {
    text-decoration: none;
    border: 1px solid #FB565A;
    border-radius: 5px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FB565A;
    margin: 30px;
}
.more_button    {
    margin-top: 50px;
}
.products h3,
.skills h3  {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
a.button    {
    text-transform: uppercase;
}
header,
.advantages  {
    background: var(--color-background-header);
}